.contenedor-form-article2 {
          padding-bottom: 10px;
          border-bottom: 2px solid #eee;

          .contenedor-form-article2-input {
                    border: none;
                    outline: none;
                    background: none;
                    width: 260px;
                    margin-top: 40px;
                    padding-right: 10px;
                    font-size: 17px;
                    color: #0ef;
          }
}